.vscode/**
.vscode-test/**
.git/**
.gitignore
.github/**
node_modules/**
src/**
test/**
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.*
**/*.map
**/*.ts
!out/**/*.js
!out/**/*.js.map
esbuild.config.mjs
scripts/**
*.vsix
**/.DS_Store
package-lock.json
